 /* iOS places the subtitle above the title */
 ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-card{
    display:block;
    margin: 5ex;
  }

  ion-thumbnail {
    margin-left: 1%;
    --size: 75px;
    --border-radius: 14px;
  }

  ion-searchbar.searchbar{
    --background: #f4f5f8 !important;
    
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    text-indent: 0;
  }

  ion-toolbar{
    display:flex;
  }


.logo{
    height: 200px;
    width: auto;
    margin: auto;
    display: block;
}
